 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 735px;
  margin: 40px auto 0 203px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 190px;
}

.u-section-1 .u-image-1 {
  width: 97px;
  height: 93px;
  margin: 39px auto 0 19px;
}

.u-section-1 .u-text-1 {
  margin: -76px 12px 0 137px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 0 12px 15px 137px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 190px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 37px 20px 0 98px;
}

.u-section-1 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: -41px auto 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 8px 20px 0 98px;
}

.u-section-1 .u-image-2 {
  height: 499px;
  object-position: 50% 83.64%;
  background-position: 50% 83.64%;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 382px;
  margin: -440px auto 75px 37px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-1 .u-text-5 {
  font-size: 4.5rem;
  margin: 40px 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-family: dancing-script;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 90px;
  height: 3px;
  transform-origin: left center 0;
  margin: 10px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 733px;
    margin-left: 104px;
  }

  .u-section-1 .u-image-1 {
    width: 96px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 10px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 10px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 16px;
    margin-left: 93px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -39px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-right: 16px;
    margin-left: 145px;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-left: 31px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 101px;
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
    margin-left: 133px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
    margin-bottom: 20px;
    margin-left: 133px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
    margin-right: 13px;
    margin-left: 104px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 48px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
    margin-bottom: 20px;
    margin-left: 121px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 435px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 97px;
    margin-top: 4px;
    margin-left: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 178px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-top: 14px;
    margin-right: 58px;
    margin-left: 129px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-4 {
    margin: 10px 28px 14px;
  }

  .u-section-1 .u-image-2 {
    object-position: 56.22% 100%;
    background-position: 56.22% 100%;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 338px;
    margin-left: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 9px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 100px;
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 4px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin: 10px 4px 15px 141px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-right: 6px;
    margin-left: 116px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -40px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-4 {
    margin: 11px 6px 0 89px;
  }

  .u-section-1 .u-image-2 {
    object-position: 61.9% 0%;
    background-position: 61.9% 0%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    margin-left: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 45px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-group-1 {
  width: 714px;
  min-height: 128px;
  margin: 50px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 10px auto 67px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-4 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 28px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-5 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-6 {
  height: 99px;
  width: 99px;
  margin: 28px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 28px 28px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 589px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 423px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(219,84,90,0.45), rgba(219,84,90,0.45)), url("images/b3da07dba4061211b19f5e2aa6b3abda.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 524px;
}

.u-section-3 .u-group-1 {
  width: 825px;
  min-height: 176px;
  margin: 162px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }


} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(156, 186, 224, 0.8), rgba(156, 186, 224, 0.8)), url("images/header.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 524px;
}

.u-section-4 .u-group-1 {
  width: 825px;
  min-height: 176px;
  margin: 162px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }